* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  text-decoration: none;
  /* color: #9eabb2; */
  color: inherit;
  line-height: 0;
}
body {
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  color: #9eabb2;
}
.container {
  /* width: 1110px; */
  /* height: 200px;
  background-color: #962020;
  border: 4px solid #fff; */

  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.fx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding-top: 130px;
  padding-bottom: 150px;
}
header img {
  margin-bottom: 56px;
}
header h1 {
  margin-bottom: 16px;
  color: #4c545c;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -0.75px;
}
header p,
.props p,
.access p,
.workflow p,
.download p {
  margin-bottom: 48px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.links__down a {
  border-radius: 28px;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  /* padding: 13px 39px 13px 39px; */
  padding: 13px 39px;
  margin: 0 8px;
  display: inline-block;
}
.links__down-green {
  background: #26bba4;
  box-shadow: 0 10px 20px 0 rgba(137, 229, 199, 0.5),
    0 -3px 0 0 rgba(0, 0, 0, 0.15) inset;
  /* margin-right: 8px; */
}
.links__down-green:hover {
  background: hsla(171, 66%, 44%, 0.75);
}
.links__down-blue {
  background: #6174ff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1),
    0 -3px 0 0 rgba(0, 0, 0, 0.15) inset;
  /* margin-left: 8px; */
}
.links__down-blue:hover {
  background: hsla(233, 100%, 69%, 0.75);
}
.props {
  padding-bottom: 220px;
}
.props h2,
.access h2,
.workflow h2,
.download h2 {
  color: #4c545c;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.587px;
  margin-bottom: 20px;
}
.props p {
  margin-bottom: 80px;
}

.props article {
  width: 350px;
  text-align: left;
}
.props article h3,
.workflow article h3 {
  color: #4c545c;
  font-size: 24px;
  letter-spacing: -0.391px;
  margin-bottom: 8px;
}
.props article p,
.workflow article p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.12px;
  margin-bottom: 56px;
}
.access {
  padding-bottom: 60px;
}
.access p {
  margin-bottom: 110px;
}
.workflow {
  padding-bottom: 150px;
}
.workflow p {
  margin-bottom: 76px;
}
.workflow article {
  width: 350px;
}
.workflow article img {
  margin-bottom: 40px;
}
.workflow article h3 {
  margin-bottom: 16px;
}
.workflow .fx {
  align-items: flex-start;
}
.logos {
  padding-bottom: 150px;
}
.download {
  padding-bottom: 150px;
}
.download p {
  margin-bottom: 48px;
}
.logo_bottom {
  width: 55px;
  height: 55px;
}
footer {
  min-height: 150px;
  /* opacity: 0.1; */
  /* background: #9eabb2; */
  background: rgb(158 171 178 / 10%);
}
footer section.fx {
  justify-content: start;
  column-gap: 135px;
}
.navigation {
  max-width: 540px;
  width: 100%;
  display: flex;
  column-gap: 30px;
  row-gap: 12px;
  flex-wrap: wrap;
}
.navigation a {
  color: #4c545c;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  display: inline-block;
  width: 160px;
  text-align-last: left;
}
.navigation a:hover {
  color: #26BBA4;
}
.social {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}
.social svg:hover path{
  fill: #26BBA4;
}
